pipeline/PL_CSV_PARQUET.json
{
	"name": "PL_CSV_PARQUET",
	"properties": {
		"activities": [
			{
				"name": "CPY_CSV",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SP-START-LOG-ENTRY",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SET_MAPPING_VARIABLE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy",
							"blockSizeInMB": 4
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_CSV_PARQUET",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SINK_CSV_PARQUET",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LKUP_JOB_DETAILS",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[vb_get_job_dtls]",
						"storedProcedureParameters": {
							"Triggername": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Trigger",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AZSQL_CSV_META",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SP-START-LOG-ENTRY",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LKUP_JOB_DETAILS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[vb_start_log_entry]",
					"storedProcedureParameters": {
						"jobid": {
							"value": {
								"value": "@activity('LKUP_JOB_DETAILS').output.firstRow.jobid",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"pipeline_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AZSQL_CSV_META",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SET_MAPPING_VARIABLE",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Mapping",
					"value": {
						"value": "{\r\n    \"type\": \"TabularTranslator\",\r\n    \"mappings\": [\r\n        {\r\n            \"source\": {\r\n                \"name\": \"review_id\",\r\n                \"type\": \"String\",\r\n                \"physicalType\": \"String\"\r\n            },\r\n            \"sink\": {\r\n                \"name\": \"reviewid\",\r\n                \"type\": \"String\",\r\n                \"physicalType\": \"UTF8\"\r\n            }\r\n        },\r\n        {\r\n            \"source\": {\r\n                \"name\": \"order_id\",\r\n                \"type\": \"String\",\r\n                \"physicalType\": \"String\"\r\n            },\r\n            \"sink\": {\r\n                \"name\": \"orderid\",\r\n                \"type\": \"String\",\r\n                \"physicalType\": \"UTF8\"\r\n            }\r\n        },\r\n        {\r\n            \"source\": {\r\n                \"name\": \"review_score\",\r\n                \"type\": \"String\",\r\n                \"physicalType\": \"String\"\r\n            },\r\n            \"sink\": {\r\n                \"name\": \"reviewscore\",\r\n                \"type\": \"String\",\r\n                \"physicalType\": \"UTF8\"\r\n            }\r\n        },\r\n        {\r\n            \"source\": {\r\n                \"name\": \"review_comment_title\",\r\n                \"type\": \"String\",\r\n                \"physicalType\": \"String\"\r\n            },\r\n            \"sink\": {\r\n                \"name\": \"reviewcommenttitle\",\r\n                \"type\": \"String\",\r\n                \"physicalType\": \"UTF8\"\r\n            }\r\n        },\r\n        {\r\n            \"source\": {\r\n                \"name\": \"review_comment_message\",\r\n                \"type\": \"String\",\r\n                \"physicalType\": \"String\"\r\n            },\r\n            \"sink\": {\r\n                \"name\": \"reviewcommentmessage\",\r\n                \"type\": \"String\",\r\n                \"physicalType\": \"UTF8\"\r\n            }\r\n        },\r\n        {\r\n            \"source\": {\r\n                \"name\": \"review_creation_date\",\r\n                \"type\": \"String\",\r\n                \"physicalType\": \"String\"\r\n            },\r\n            \"sink\": {\r\n                \"name\": \"reviewcreationdate\",\r\n                \"type\": \"String\",\r\n                \"physicalType\": \"UTF8\"\r\n            }\r\n        },\r\n        {\r\n            \"source\": {\r\n                \"name\": \"review_answer_timestamp\",\r\n                \"type\": \"String\",\r\n                \"physicalType\": \"String\"\r\n            },\r\n            \"sink\": {\r\n                \"name\": \"reviewanswertimestamp\",\r\n                \"type\": \"String\",\r\n                \"physicalType\": \"UTF8\"\r\n            }\r\n        },\r\n    ],\r\n    \"typeConversion\": true,\r\n    \"typeConversionSettings\": {\r\n        \"allowDataTruncation\": true,\r\n        \"treatBooleanAsNumber\": false\r\n    }\r\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SP-SUCESS-LOG-ENTRY",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CPY_CSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[vb_end_log_entry]",
					"storedProcedureParameters": {
						"error": {
							"value": null,
							"type": "String"
						},
						"jobid": {
							"value": {
								"value": "@activity('LKUP_JOB_DETAILS').output.firstRow.jobid",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"pipeline_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AZSQL_CSV_META",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP-FAIL-LOG-ENTRY",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CPY_CSV",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[vb_end_log_entry]",
					"storedProcedureParameters": {
						"error": {
							"value": {
								"value": "@activity('CPY_CSV').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"jobid": {
							"value": {
								"value": "@activity('LKUP_JOB_DETAILS').output.firstRow.jobid",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"pipeline_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AZSQL_CSV_META",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Trigger": {
				"type": "string"
			}
		},
		"variables": {
			"Mapping": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-04-22T16:56:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}